@evinced:registry=https://evinced.jfrog.io/artifactory/api/npm/restricted-npm/
//evinced.jfrog.io/artifactory/api/npm/restricted-npm/:_authToken=${EVINCED_JFROG_JWT}
//evinced.jfrog.io/artifactory/api/npm/restricted-npm/:_authToken=${ARTIFACTORY_USERNAME}
//evinced.jfrog.io/artifactory/api/npm/restricted-npm/:_authToken=true